// ! other colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$orange: #f57f17;
$purple: #941b80;
$blue: #3c4b6d;
// ! colors
$primary: #ef4056;
$secondary: #19bfd3;
$subtitle: #62666d;
$success: #029c4a;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "subtitle": $subtitle,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "orange": $orange,
  "success": $success,
  "purple": $purple,
  "blue": $blue,
  //   "info": $info,
  //   "warning": $warning,
  //   "danger": $danger,
  //   "light": $light,
  //   "dark": $dark,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
