.digiplus {
  @include Responsive(tabletL) {
    border-radius: 0% !important;
  }
  &__section {
    @include Responsive(tablet) {
      width: 100% !important;
    }
    @include Responsive(phoneL) {
      border-radius: 0% !important;
    }
    &-pic {
      @include Responsive(tablet) {
        width: 50% !important;
      }
    }
  }
}
